body {
  background-color: black;
  color: white;
}

.navbtn {
  color: white;
}

#searchButton {
  border-radius: 2px;
  color: white;
  background-color: rgba(255, 0, 0, 0.404);
  box-shadow: none;
  border: none;
}

.btnStyling {
  color: white;
  background-color: rgba(255, 0, 0, 0.404);
  border: none;
  padding: 0% 2% 0% 2%;
}

.price {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.404);
  text-shadow: 1px 1px 3px #000;
  color: white;
  border: solid rgba(119, 0, 0, 0.404);
  border-radius: 7px;
}

.basket {
  display: column;
  width: 60%;
  flex-wrap: wrap;
  margin: auto;
}

.priceAndButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3%;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #161616;
  color: white;
  cursor: pointer;
  max-width: 100%;
  margin-top: 1%;
}

.totalPriceContainer {
  margin-right: 2%;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 1%;
}

.productImage {
  max-height: 15vh;
}

.removeProduct{
  display: inline-block;
  
  padding-bottom: 5px;
  margin-left: 2%;
  text-align: center;
  color: #979797;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0);
}
.removeProduct:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

#totalPriceLabel{
  font-size: 1.5rem;
}
#basketButton{
  font-size: 1.5rem;
  border-radius: 7px;
  padding-bottom: 3px;
}