#centerContainer {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 2%;
  padding: 2%;
}

body {
  background-color: black;
  color: white;
}

.title {
  color: #eeeeee;
}

img {
  margin: 2%;

  cursor: pointer;
}

table,
th,
td {
  width: 100%;
  border: solid 2px #212529;
  color: white;
}

tr {
  display: block;
  float: left;
}

th,
td {
  display: block;
  white-space: pre;
}

th {
  font-weight: bold;
}

.searchButton {
  border-radius: 2px;
  color: white;
  background-color: rgba(255, 0, 0, 0.404);
  box-shadow: none;
  border: none;
}
#searchButton:hover {
  color: #212529;
  background-color: rgba(255, 0, 0, 0.404);
}
#searchDIV {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar CSS */
#navbarContainer {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.navbar {
  flex-direction: column;
  margin-top: 10px;
}

.navbar-nav {
  display: flex;
  vertical-align: baseline;
}

.nav-item {
  margin-right: 20px;
  font-size: large;
  align-self: center;
}

.navbar-brand {
  font-size: xx-large;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
}

/* Presets/Defaults */
.btn {
  color: white;
  background-color: rgba(255, 0, 0, 0.404);
  border: none;
}

#headBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#basketLogo {
  max-width: 10%;
  background-color: #212529;
  border-radius: 50%;
  padding: 5px;
  margin-top: 1%;
  margin-bottom: 0.5%;
  margin-right: 0px;
}

#basketPTag{
  padding-right: 1.5%;
}

#BasketAndTextContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
