#centerContainer {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  margin: auto;
}

body {
  background-color: black;
  color: white;
}

.title {
  color: #eeeeee;
}

#searchButton {
  border-radius: 2px;
  box-shadow: none;
}
#searchButton:hover {
  color: #212529;
  background-color: rgba(255, 0, 0, 0.404);
}

.btnStyling {
  width: 97%;
  margin: 10px auto 10px auto;
}

.itemContainerDiv {
  width: 24%;
  min-height: 500px;
  margin: 0.5%;
  color: white;
  padding: 1%;
  background-color: #161616;
  cursor: pointer;
}

.cardImageContainer {
  max-width: 90%;
  max-height: 45%;
  position: center;
  margin: auto;
  margin-bottom: 5%;
}

.cardImage {
  max-width: 100%;
}

.cardItemStorage {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.navbtn {
  color: white;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

#innerDivButton {
  width: 60%;
}

.itemStorageContainerHolder{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.itemStorageContainerHolder > p{
  margin-left: 10px;
  margin-top: 14px;
}