#centerContainer {
    display: flex;
    height: fit-content;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    border: 5px;
    border-style: dashed;
}

body {
    background-color: black;
}

.title {
    color: #eeeeee;
}

#itemContainerDiv {
    width: 32%;
    height: 450px;
    margin: 0.5%;
    color: white;
    padding: 1%;
    background-color: #161616;
}

.cardImageContainer {
    width: 90%;
    height: 45%;
    position: center;
    margin: auto;
    margin-bottom: 5%;
}

.cardImage {
    width: 22vw;
}

.cardItemStorage {
    width: 25%;
    height: 5%;
}