#centerContainer {
    display: flex;
    height: fit-content;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
    border: 5px;
    border-style: dashed;
}

body {
    background-color: #333333;
}

.title {
    color: #eeeeee;
}

#itemContainerDiv {
    width: 32%;
    height: 450px;
    margin: 0.5%;
    background-color: #666666;
}

.cardImageContainer {
    width: 90%;
    height: 45%;
    background-color: white;
    position: center;
    margin: auto;
    margin-bottom: 5%;
}

.cardImage {
    width: auto;
    height: auto;
}

.cardItemStorage {
    width: 25%;
    height: 5%;
}