body{
    background-color: #161616;
    color: white;
}

#pageContainer{
    margin: auto;
    width: 60%;
}

#paymentMethodTitle{
}

#customerDetails{
    margin-left: 0.4vw;
}

#confirmButtonDiv{
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    margin-top: 2vh;
}

.seperator{
    background-color: #212529;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 200%;
    padding-left: 1%;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#paymentButtonsContainer{
    margin-left: 1vw;
}

.imageButton{
    width: 13%;
    border-radius: 5px;
    margin-right: 2%;
}

.inputDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1vw;
    margin-bottom:0;
    font-size: large;
}

.inputField{
    border-radius: 5px;
    color: white;
    background-color: #212529;
    height: 4vh;
    font-size: 20px;
    width: 20vw;
    margin-bottom: 1vh;
}

#zipCodeInput{
    width: 6vw;
}
#cityInput{
    width: 13.7vw;
}

#expiryInput{
    width: 13.7vw;
}

#CVVInput{
    width: 6vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#customerDetailsSeperator{
    visibility: hidden;
}