body{
    background-color:black;
   
}

.card{
    background-color:#161616;
    margin: 0.5VW;
    color: white;
   padding: 1%;
    
   max-width : 23%;
    
}
#resultsBox{
    max-width: 70vw;
}

.specificationHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#resultsContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.line1{ 
     display: flex;
     justify-content: center;
    background-color:#212529;
    height: 50px;
    font-size: 200%;
    align-items: center;
   color: white;
   padding: 2%;
}

nav{
    margin-bottom: 0.5%;
}

#searchButton{
    border-radius: 2px;
    color: white;
    background-color: rgba(255, 0, 0, 0.404);
      margin-left: 1%;
      box-shadow: none;
      border: none;
}

.productImage{
    max-width: fit-content;
}